.Home-bg {
  background: var(--home-main-bg-color-down);
  background: linear-gradient(0deg,var(--home-main-bg-color-down) 11%, var(--home-main-bg-color-up) 79%);
}

.mainTitle{
  font-family: var(--title-font-family)
}