:root {
  /* TITLE */
  /* Text title fonts variable */
  --title-font-family: 'Lato', 'Arial', sans-serif;
  --title-font-weight: 700;

  /* BODY */
  /* Text body fonts variable declaration*/
  --body-font-family: 'Quicksand', 'Arial', sans-serif;
  --body-font-size: 15px;

  /* home colors variable declaration */
  --home-main-bg-color-up: #F6E7BC;
  --home-main-bg-color-down: #F5BA82;
}

/* Fonts */
body {
  font-family: var(--body-font-family);
}

h1 {
  font-family: var(--title-font-family);
}